.landing {
  height: 100vh;
  background-color: gray;
  background-image: url(../images/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.landing__main {
  height: 88vh;
  width: 100%;
  text-align: center;
  padding: 7rem 5rem 0;
  color: white;
}
.landing__main__line {
  height: 5px;
  margin: auto;
  width: 200px;
}
.landing__main__heading {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.landing__main__para {
  margin: 20px 0;
}
.landing__nav {
  height: 8vh;
  margin: 0;
  padding: 0;
  border-radius: 0 !important;
}